.h1 {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  /* height: 90vh; */
  /* flex-grow: 2;*/
  height: 800px; 
}

.column_right {
  float: right;
  border: black solid;
  border-top: none;
  border-bottom: none;
  border-right: none;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  display: flex;
}

.column_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.diagram_container {
  display: flex;
  height: 350px;
  width: 350px;
  justify-content: center;
  border: black solid;
  border-radius: 100%;
}

.inner_diagram_container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.categories_container {
  overflow-y: scroll;
  width: 90%;
  height: 90%;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-auto-flow: dense;
}

.category {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background-color: #f74e42;
}

.category_container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.name_category {
  margin: 0;
  margin-bottom: 5px;
}
.sum_category {
  margin: 0;
  margin-top: 5px;
}
