.h1 {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex: 1;
}

.column_right {
  float: right;
  border: black solid;
  border-top: none;
  border-bottom: none;
  border-right: none;
  width: 34%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.column_left {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66%;
}

.diagram_container {
  display: flex;
  height: 450px;
  width: 450px;
  justify-content: center;
  border: #f74e42 solid;
  border-width: 20px;
  border-radius: 100%;
}

.inner_diagram_container {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  margin: 0;
}

.categories_container {
  overflow-y: auto;
  max-height: 30em;
  width: 90%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fit, 150px);
  grid-auto-flow: dense;
  column-gap: 20px;
  row-gap: 20px;
}

.category {
  height: 110px;
  width: 110px;
  border-radius: 100%;
  background-color: #f74e42;
}

.category_container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.name_category {
  margin: 0;
  margin-bottom: 5px;
}
.sum_category {
  margin: 0;
  margin-top: 5px;
}
