.category {
  height: 110px;
  width: 110px;
  border-radius: 100%;
  background-color: #f74e42;
}

.category_container {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.name_category {
  margin: 0;
  margin-bottom: 7px;
  font-size: 20px;
}
.sum_category {
  margin: 0;
  margin-top: 10px;
  font-size: 20px;
}

.sum_category_zero {
  margin: 0;
  margin-top: 10px;
  font-size: 20px;
  color: rgb(81, 81, 81);
}
