.header {
  background-color: #dbdbdb;
}
.header_inner {
  display: flex;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}
.h3{
}
.navContainer{
  flex-grow: 1;
}
.navList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navItems{
  display: flex;
  list-style-type: none;
}
.navItem {
  margin-right: 25px;
  margin-left: 25px;
  flex-direction: row;
}
.navItem button {
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  margin: 0px;
}
.navItem button:hover {
  text-decoration: underline;
}

.header_container_left{
  flex-grow: 1;
}
.label {
  height: 45px;
}

.svg_element {
  width: 35px;
  height: 35px;
}
