.main_container {
  display: flex;
}
.right_container {
  display: flex;
  justify-content: center;
  width: 45%;
  overflow-y: auto;
  margin-top: 1vh;
  height: 89vh;
}

.actions_list_container {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.left_container {
  width: 55%;
  border-right: 3px rgb(132, 132, 132) solid;
}
.con_slider {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 2%; */
}

.inputNewAction {
  margin-top: 50px;
}
