html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  @font-face {
    font-family: 'Jomolhari';
    src: url('/fonts/Jomolhari-Regular.ttf') format('ttf');
  }
  /* font-family: 'Jomolhari', sans-serif; */
  display: flex;
}
#root {
  height: 100%;
  width: 100%;
}
body {
  background-color: #ffffff;
  font-family: 'Jomolhari', sans-serif;

  letter-spacing: 0.5px;
}
